---
layout: base.njk
lang: pt
pageKey: publications
slug: "publications"
extraCss:
  - publications.css
extraJs:
  - publications.js
---
{% set t = i18n[lang] %}
{% include "content/publications.njk" %}
