---
layout: base.njk
lang: pt
pageKey: testimonials
slug: "testimonials"
extraCss:
  - testimonials.css
extraJs:
  - testimonials.js
---
{% set t = i18n[lang] %}
{% include "content/testimonials.njk" %}
