---
layout: base.njk
lang: es
pageKey: technicalReview
slug: "technical-review"
bodyClass: lp-body
header: minimal
extraCss:
  - technical-review.css
---
{% set t = i18n[lang] %}
{% include "content/technical-review.njk" %}
